:root {
    --Light-slate-blue-background: #7857ff;
    --Light-royal-blue-background: #2e2be9;

    --Violet-blue-circle: #4e21ca;
    --Persian-blue-circle: #2421ca00;
}

body {
    font-family: "Hanken Grotesk";
    font-size: 16px;
    font-weight: medium;
}

main {
    display: grid;
    justify-content: center;
    min-height: 100vh;


    background-color: #ECF2FF;
}

.l-flex {
    display: flex;
    flex-direction: column;
}

.hero__container {
    background-color: white;
    border-radius: 2rem;
}

.hero-score__container {
    text-align: center;
    background: linear-gradient(#7857ff 0%, #6943FF 0%,  #2e2be9 100%);
    gap: 1.5rem;

    padding-top: 1.5rem;
    padding-bottom: 2.5rem;

    color: #CAC9FF;

    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

/* ======================================================================= */
/* heading block ends*/
/* ======================================================================= */

h1 {
    font-size: 3.5em;
    font-weight: 900;
    color: white;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.125em;
    font-weight: bold;
}

/* ======================================================================= */
/* circle block starts*/
/* ======================================================================= */

.hero-circle {
    background: linear-gradient(var(--Violet-blue-circle), var(--Persian-blue-circle));
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    justify-content: center;
}

.circle-p {
    font-weight: bold;
    opacity: 50%;
}

.hero-score__text {
    
    margin-left: 3.625rem;
    margin-right: 3.625rem;
}

/* ======================================================================= */
/* hero-details block starts*/
/* ======================================================================= */

.hero-details__container {
    margin-left: 1.875rem;
    margin-right: 1.875rem;
    margin-top: 1.5rem;
    margin-bottom: 1.875rem;
    gap: 1.5rem;
}

.result-list {
    gap: 1rem;
}

.result-list__item {
    display: flex;
    justify-content: space-between;
}

.result-name {
    display: flex;
    gap: 12px;
    align-items: center;
}

.result-list__item {
    color: #303B59;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;

    align-items: center;
    border-radius: 12px;
}

.result-list__item span {
    opacity: 50%;
}

.item--red  {
    background-color: rgba(255, 85, 85, 0.05);
}

.item--yellow  {
    background-color: rgba(255, 176, 30, 0.05);
}

.item--green {
    background-color: rgba(0, 187, 143, 0.05);
}

.item--blue {
    background-color: rgba(17, 37, 214, 0.05);
}

.item--red .result-name {
    color: #FF5555;
    font-weight: 500;
}

.item--yellow .result-name {
    color: #FFB21E;
    font-weight: 500;
}

.item--green .result-name {
    color: #00BB8F;
    font-weight: 500;
}

.item--blue .result-name {
    color: #1125D6;
    font-weight: 500;
}

button {
    font-family: inherit;
    font-weight: bold;
    border: none;
    border-radius: 8rem;
    font-size: 1.125em;

    padding: 1em;
    background-color: #303B59;
    color: white;
}

button:hover {
    background: linear-gradient(#7755FF 0%, #6943FF 0%, #2F2CE9 100%);
}

@media screen and (min-width: 48rem){
    main {
        place-content: center;
    }

    .hero__container {
        flex-direction: row;
        justify-content: center;

        max-width: 46rem;
    }

    .hero-score__container {
        flex-basis: 50%;
        border-radius: 2rem;
        justify-content: space-between;
    }

    .hero-details__container {
        flex-basis: 50%;
        justify-content: space-evenly;

        margin-left: 2.5rem;
        margin-right: 2.5rem;
        gap: 1.75rem;
    }

    .hero-circle {
        width: 12.5rem;
        height: 12.5rem;
    }

    h1 {
        font-size: 4.5rem;
        margin-bottom: 0.25rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    button {
        margin-top: 2.5rem;
    }

    .hero-score__text {
        margin-left: 3.375rem;
        margin-right: 3.375rem;
    }

    .hero-score__text p {
        font-size: 1.125rem;
    }
}