:root {
    --Light-slate-blue-background: #7857ff;
    --Light-royal-blue-background: #2e2be9;

    --Violet-blue-circle: #4e21ca;
    --Persian-blue-circle: #2421ca00;
}

body {
    font-family: "Hanken Grotesk";
    font-size: 16px;
}

main {
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.l-flex {
    display: flex;
    flex-direction: column;
}

.hero__container {
    /* display: flex;
    flex-direction: column; */
}

.hero-score__container {
    
    text-align: center;
    background: linear-gradient(#7857ff,  #2e2be9);
    gap: 1.5rem;

    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
}

h1 {
    font-size: 3.5em;
    font-weight: 900;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    font-size: 1.125em;
    font-weight: bold;
}